#background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

#back_icon {
    display: block;
    height: 25px;
    width: 25px;
    color: #efe7d8;
    scale: 3;
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 1;
}

#container {
    position: relative;
    top: 10px;
}

#plant_img {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

#text {
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

#name {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    white-space: pre-line;
    color: #055300;
    display: flex;
    justify-content: center;
}

#info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    white-space: pre-line;
    color: #055300;
    background-color: #e5e7bda1;
    border-radius: 20px;
    padding: 20px;
}

@media (min-width: 1024px) {
    #plant_img {
        width: 45%;
        left: 33%;
        height: 590px;
        top: 40px;
    }
    #text {
        top: 0;
        left: 85%;
        width: 20%;
    }
    #name {
        left: 0;
        transform: none;
        width: auto;
        justify-content: flex-start;
    }
    #info {
        position: absolute;
        left: 30%;
        width: 180%;
    }
    #menu {
        width: 25%;
    }
}