h1, p {
    color: #055300;
}

a {
    font-weight: bold;
    color: #ceffa9;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

#background_blur {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

#burger {
    scale: 2;
    position: relative;
    top: 10px;
    left: 10px;
    color: #ffffff;
}

#menu {
    position: fixed;
    background-color: #104a13;
    height: 100%;
    width: 50%;
    top: 50%;
    transform: translate(-105%, -50%);
    z-index: 1;
}

#menu.show {
    animation: show 1s forwards;
}

#menu.hide {
    animation: hide 1s forwards;
}

@keyframes show {
    from {
        transform: translate(-105%, -50%);
    }
    to {
        transform: translate(-5%, -50%);
    }
}

@keyframes hide {
    from {
        transform: translate(-5%, -50%);
    }
    to {
        transform: translate(-105%, -50%);
    }
}

@media (min-width: 1024px) {
    #menu {
        width: 25%;
    }
    #title_img {
        width: 50%;
        height: 165%;
    }
}

#menus {
    position: fixed;
    top: 20px;
    width: 100%;
    display: grid;
    gap: 5px;
}

.buttons {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: transparent;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.button:active {
    background-color: #004010;
}

#home {
    background-color: #004010;
}

#title {
    display: flex;
    justify-content: center;
}

#intro {
    position: relative;
    height: 20%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e5e7bda1;
    padding: 25px;
    border-radius: 20px
}

#intro_text {
    width: 60%;
}

#title_line, #feature_line {
    width: 100%;
}

#title_line {
    border-top: 2px solid #b0c73c;
}

#title_img, #feature_img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}

#title_img {
    height: 100%;
    width: 40%;
    right: 0;
}

#feature_img {
    height: 80%;
    width: 25%;
    right: 2vh;
}

#featured_text {
    width: 70%;
}

#featured_title {
    position: relative;
    top: 15px;
}

@media (max-width: 375px) {
    #title_img {
        height: 70%;
        width: 50%;
        right: 0px;
    }
}

#minimenu_container, #featured_things, #galery_section {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 85%;
    background-color: #b7fb0d52;
    padding: 15px;
    border-radius: 10px;
}

#minimenu_container {
    top: 5vh;
    display: flex;
    gap: 2%;
    align-items: center;
}

#featured_things {
    top: 10vh;
    height: fit-content;
    width: 90%;
    overflow: hidden;
    display: flex;
    gap: 5%;
    align-items: center;
}

#galery_section {
    position: relative;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 150px;
    overflow: hidden;
    background-color: #b7fb0d52;
    padding: 15px;
    border-radius: 10px;
}

.track {
    display: flex;
    gap: 30px;
    width: max-content;
    animation: scroll 30s linear infinite;
    height: 100%;
}

.set {
    display: flex;
    gap: 30px;
}

.galery_img {
    width: auto;
    flex-shrink: 0;
    border-radius: 15px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.box {
    width: 33%;
    height: 90%;
    background: #1e8d17;
    border-radius: 15px;
}

.box_title {
    text-align: center;
    font-size: large;
}

@media (min-width: 1024px) {
    #featured_things {
        width: 70%;
    }
}

@media (min-width: 768px) {
    #minimenu_container {
        width: 50%;
    }
}

@media (max-width: 425px) {
    #feature_img {
        visibility: hidden;
    }
    #featured_text {
        width: 100%;
    }
    #title_img {
        visibility: hidden;
    }
    #intro_text {
        width: 100%;
    }
}